body{
    background-color: rgb(231, 250, 181);
}
    
.navstyle1 {
    width: 100%;
    height: 80px;
    background: #dedfd4;
    color: rgb(255, 255, 255);
  }
  
  
  
  .navstyle1 ul {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
  }
  
  .navstyle1 ul li {
    list-style: none;
    text-transform: uppercase;
    color: white;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .navstyle1 ul li a {
    color: rgb(3, 3, 44);
    text-decoration: none;
  }
  